html,body,h1,h2,h3,h4,h5, p {font-family: "Open Sans", sans-serif; font-size: 0.95rem; color:#fff}
.dashboardTitle {color: #3358f4;}
.dashboardTitle:hover {color: #1d8cf8;}
.topbar-custom {background-color:#1e1e2e}
.bg-dashboard{
    background: linear-gradient(180deg,#1e1e2e,#1e1e24);
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: linear-gradient(180deg, rgb(30, 30, 46), rgb(30, 30, 36));
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
}
.sidebaritle {font-weight: 600; text-transform: uppercase;}
.sidebar-custom {
    background: linear-gradient(0deg,#3358f4,#1d8cf8);
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: linear-gradient(0deg, rgb(51, 88, 244), rgb(29, 140, 248));
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    z-index:3;
    width: 16em;
}
.bg-closemenu {background-color:#1e1e2e;}
.main-custom {margin-left:250px;margin-top:60px;}
.header-container {padding-top:22px}
.dark-element{background-color:#27293d;}
.dark-element-withfont{background-color:#27293d; border: 1px solid #565a83; color: #fff;}
.dark-element-borderBottom{background-color:#27293d; border-bottom: 1px solid #565a83;}

.tabulator{background-color:#27293d !important; border: none !important}
.tabulator .tabulator-header {background-color:#27293d !important; border-bottom: 1px solid #565a83 !important;}
.tabulator-col, .tabulator-sortable {background-color:#27293d !important; }
.tabulator-row .tabulator-cell {border-right: 1px solid #565a83 !important; border-bottom: 1px solid #565a83 !important; font-weight: normal;}
#covidTableFrance .tabulator-row .tabulator-cell{padding:0.65em !important;}
#covTable .tabulator-row .tabulator-cell{padding:0.3em !important;}
#vaccinTable .tabulator-row .tabulator-cell{padding:0.65em !important;}
#vaccinTable .tabulator-row .tabulator-cell .arrowUpDown {margin-right:0.2em !important; font-size: medium !important;}
.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title {white-space: normal;}
.tabulator .tabulator-header .tabulator-calcs-holder .tabulator-row{background-color:#27293d !important;}
.tabulator-col .tabulator-sortable {height: 50px;}
.tabulator .tabulator-header .tabulator-col {border-right: 1px solid #565a83 !important;}
.tabulator .tabulator-header .tabulator-col.tabulator-sortable:hover{background-color:#353852 !important;}
.tabulator-row {background-color:#27293d !important;}
.tabulator-row.tabulator-selectable:hover{background-color:#353852 !important;}
.tabulator .tabulator-header .tabulator-col .tabulator-header-filter input {background-color:#27293d !important;}
.tabulator .tabulator-footer {background-color:#27293d !important; border-top: 1px solid #565a83;}

.chartsBlock1 {width:100%;height:500px; margin: 0;padding: 0;}
.chartsBlock2{width:100%;height:600px;margin: 0;padding: 0;}
.active {background-color:#009688; color:#eeeeee} 
#containerMap{width:100%;height:696px;margin:0;padding:0;}
#containerGlobalMap{width:100%;height:600px;margin:0;padding:0;}
#containerMapFrance{width:100%;height:600px;margin:0;padding:0;}
#chartVaccinFrance{width:100%;height:600px;margin:0;padding:0;}
#articles img {width:100%;max-width:400px}
#articles a{text-decoration: none}
.newsItalic {font-style:italic;}

.footer-custom{font-size: 0.65rem !important;}
.footerlink {color: #3358f4; text-decoration: none;}
.footerlink:hover {color: #1d8cf8;}